POSTGRES_DB=uniqa
POSTGRES_USER=uniqa
POSTGRES_PASSWORD=uniqa
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379

MEILI_HOST=http://meilisearch:7700
MEILI_MASTER_KEY=master_key_please_change

JWT_SECRET=change_me_secret
JWT_ALGO=HS256
DEFAULT_ADMIN_EMAIL=admin@uni.local
DEFAULT_ADMIN_PASSWORD=admin123
DEFAULT_ADMIN_NAME=Admin
APP_DOMAIN=example.com

TELEGRAM_BOT_TOKEN=PUT_TELEGRAM_TOKEN_HERE
BACKEND_BASE_URL=http://backend:8000

NEXT_PUBLIC_API_BASE=http://localhost:8000
