--
-- PostgreSQL database cluster dump
--

\restrict EGHz3u5IfC62dO5uAtTJ1mLYjMHmE3wH9ENO9iL7UUmJqLmAjg8asifd8iNZh7Z

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Roles
--

CREATE ROLE uniqa;
ALTER ROLE uniqa WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'md5059fa9de8f41dce7a3aad92db4dd106d';

--
-- User Configurations
--








\unrestrict EGHz3u5IfC62dO5uAtTJ1mLYjMHmE3wH9ENO9iL7UUmJqLmAjg8asifd8iNZh7Z

--
-- Databases
--

--
-- Database "template1" dump
--

\connect template1

--
-- PostgreSQL database dump
--

\restrict 0kuhjPJIZ3zIhuqF15hUZ6Vn5s77c2wGKXihMX8x2Y2Pxhr6c0cEsyfJzpSKFv1

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict 0kuhjPJIZ3zIhuqF15hUZ6Vn5s77c2wGKXihMX8x2Y2Pxhr6c0cEsyfJzpSKFv1

--
-- Database "postgres" dump
--

\connect postgres

--
-- PostgreSQL database dump
--

\restrict P9XqNM58lpqdGvTsr3G8zgT2ioCc4Kmv4tkhjJ1BxZfqz46dKrMKkWoi4andcPB

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict P9XqNM58lpqdGvTsr3G8zgT2ioCc4Kmv4tkhjJ1BxZfqz46dKrMKkWoi4andcPB

--
-- Database "uniqa" dump
--

--
-- PostgreSQL database dump
--

\restrict t3jt9TQebNWV14zMcMJUtSZ3GOs2A564knYBfWTsFDrWuXzzdp6OxAmwCu8deQ4

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uniqa; Type: DATABASE; Schema: -; Owner: uniqa
--

CREATE DATABASE uniqa WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE uniqa OWNER TO uniqa;

\unrestrict t3jt9TQebNWV14zMcMJUtSZ3GOs2A564knYBfWTsFDrWuXzzdp6OxAmwCu8deQ4
\connect uniqa
\restrict t3jt9TQebNWV14zMcMJUtSZ3GOs2A564knYBfWTsFDrWuXzzdp6OxAmwCu8deQ4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin_users; Type: TABLE; Schema: public; Owner: uniqa
--

CREATE TABLE public.admin_users (
    id uuid NOT NULL,
    email character varying(255) NOT NULL,
    name character varying(128) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role character varying(32),
    is_active boolean
);


ALTER TABLE public.admin_users OWNER TO uniqa;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: uniqa
--

CREATE TABLE public.categories (
    id uuid NOT NULL,
    name character varying(100) NOT NULL,
    description text
);


ALTER TABLE public.categories OWNER TO uniqa;

--
-- Name: events; Type: TABLE; Schema: public; Owner: uniqa
--

CREATE TABLE public.events (
    id uuid NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    campus character varying(128),
    faculty character varying(128),
    program character varying(128),
    date_start timestamp without time zone NOT NULL,
    date_end timestamp without time zone,
    type character varying(64) NOT NULL
);


ALTER TABLE public.events OWNER TO uniqa;

--
-- Name: faq_entries; Type: TABLE; Schema: public; Owner: uniqa
--

CREATE TABLE public.faq_entries (
    id uuid NOT NULL,
    question character varying(255) NOT NULL,
    short_answer character varying(400) NOT NULL,
    full_answer text NOT NULL,
    category_id uuid,
    tags character varying[],
    synonyms character varying[],
    faculty_ids character varying[],
    program_ids character varying[],
    course_min integer,
    course_max integer,
    source_url character varying(500),
    status character varying(32),
    valid_from timestamp without time zone,
    valid_until timestamp without time zone
);


ALTER TABLE public.faq_entries OWNER TO uniqa;

--
-- Name: incoming_questions; Type: TABLE; Schema: public; Owner: uniqa
--

CREATE TABLE public.incoming_questions (
    id uuid NOT NULL,
    text text NOT NULL,
    channel character varying(16) NOT NULL,
    telegram_user_id character varying(64),
    faculty character varying(64),
    course integer,
    status character varying(16) NOT NULL,
    comment text,
    created_at timestamp without time zone NOT NULL,
    client_id character varying(64),
    answer text,
    answered_at timestamp without time zone
);


ALTER TABLE public.incoming_questions OWNER TO uniqa;

--
-- Data for Name: admin_users; Type: TABLE DATA; Schema: public; Owner: uniqa
--

COPY public.admin_users (id, email, name, password_hash, role, is_active) FROM stdin;
82426a0b-a3ad-4a65-8336-65a5d387c6b3	admin@uni.local	Admin	$2b$12$SPJCN24UnawHLUqlNfF8mep3EhFE0b93JvrOMIX2RTLgyLToMHEKe	admin	t
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: uniqa
--

COPY public.categories (id, name, description) FROM stdin;
e967e7e3-8125-402f-9808-94ab182ff42e	╨Ю╨┐╨╗╨░╤В╨░	╨Т╨╛╨┐╤А╨╛╤Б╤Л ╨╛╨┐╨╗╨░╤В╤Л ╨╛╨▒╤Г╤З╨╡╨╜╨╕╤П
6ca34717-32da-4089-a2c6-fc719943d1a0	╨Ю╨┐╨╗╨░╤В╨░	╨Т╨╛╨┐╤А╨╛╤Б╤Л ╨╛╨┐╨╗╨░╤В╤Л ╨╛╨▒╤Г╤З╨╡╨╜╨╕╤П
a6c6062c-f02c-4fd7-ba01-4372844b2737	╨Ю╨┐╨╗╨░╤В╨░	╨Т╨╛╨┐╤А╨╛╤Б╤Л ╨╛╨┐╨╗╨░╤В╤Л ╨╛╨▒╤Г╤З╨╡╨╜╨╕╤П
\.


--
-- Data for Name: events; Type: TABLE DATA; Schema: public; Owner: uniqa
--

COPY public.events (id, title, description, campus, faculty, program, date_start, date_end, type) FROM stdin;
e69beb10-05ce-4ca2-a5ba-e220902f1fbf	╨б╤А╨╛╨║ ╨╛╨┐╨╗╨░╤В╤Л ╨╛╤Б╨╡╨╜╨╜╨╡╨│╨╛ ╤Б╨╡╨╝╨╡╤Б╤В╤А╨░	╨Ю╨┐╨╗╨░╤В╨░ ╨╖╨░ ╨╛╤Б╨╡╨╜╨╜╨╕╨╣ ╤Б╨╡╨╝╨╡╤Б╤В╤А	Main	FIT	\N	2025-11-09 21:43:05.801368	\N	payment_deadline
\.


--
-- Data for Name: faq_entries; Type: TABLE DATA; Schema: public; Owner: uniqa
--



--
-- Data for Name: incoming_questions; Type: TABLE DATA; Schema: public; Owner: uniqa
--



--
-- Name: admin_users admin_users_email_key; Type: CONSTRAINT; Schema: public; Owner: uniqa
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_email_key UNIQUE (email);


--
-- Name: admin_users admin_users_pkey; Type: CONSTRAINT; Schema: public; Owner: uniqa
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: uniqa
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: events events_pkey; Type: CONSTRAINT; Schema: public; Owner: uniqa
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_pkey PRIMARY KEY (id);


--
-- Name: faq_entries faq_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: uniqa
--

ALTER TABLE ONLY public.faq_entries
    ADD CONSTRAINT faq_entries_pkey PRIMARY KEY (id);


--
-- Name: incoming_questions incoming_questions_pkey; Type: CONSTRAINT; Schema: public; Owner: uniqa
--

ALTER TABLE ONLY public.incoming_questions
    ADD CONSTRAINT incoming_questions_pkey PRIMARY KEY (id);


--
-- Name: ix_incomings_client_id; Type: INDEX; Schema: public; Owner: uniqa
--

CREATE INDEX ix_incomings_client_id ON public.incoming_questions USING btree (client_id);


--
-- Name: faq_entries faq_entries_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: uniqa
--

ALTER TABLE ONLY public.faq_entries
    ADD CONSTRAINT faq_entries_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- PostgreSQL database dump complete
--

\unrestrict t3jt9TQebNWV14zMcMJUtSZ3GOs2A564knYBfWTsFDrWuXzzdp6OxAmwCu8deQ4

--
-- PostgreSQL database cluster dump complete
--

